<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService_stu" maxBufferPoolSize="1048576" maxBufferSize="1048576" maxReceivedMessageSize="1048576">
          <readerQuotas maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:65271/Service_stu.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_stu" contract="ServiceReference2.IService_stu" name="BasicHttpBinding_IService_stu" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>



    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">



      <dependentAssembly>



        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-5.1.7.20040" newVersion="5.1.7.20040" />



      </dependentAssembly>



    </assemblyBinding>

  </runtime>

  <appSettings>
    <add key="WCFIP" value="http://localhost:1800//WcfDataServicequestion.svc" />
    <!--add key="WCFIP" value="http://192.168.101.215:8001/WcfDataServicequestion.svc"/-->
    <add key="maxsize" value="5000000" />

  </appSettings>
</configuration>
